USE [master]
GO
/****** Object:  Database [PatronAdaptador]    Script Date: 10/27/2022 1:55:25 PM ******/
CREATE DATABASE [PatronAdaptador]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PatronAdaptador', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PatronAdaptador.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PatronAdaptador_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PatronAdaptador_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PatronAdaptador].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PatronAdaptador]
GO
/****** Object:  Table [dbo].[Temperatura]    Script Date: 10/27/2022 1:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temperatura](
	[TempId] [int] IDENTITY(1,1) NOT NULL,
	[bloque] [varchar](50) NULL,
	[temp] [decimal](3, 2) NULL,
 CONSTRAINT [PK_Temperatura] PRIMARY KEY CLUSTERED 
(
	[TempId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
